---
layout: default
---
<article class="win95-post">
  <header class="win95-post-header">
    <h1 class="win95-post-title">{{ page.title }}</h1>
    <div class="win95-post-meta">
      <span class="win95-post-date">
        {{ site.data.i18n[page.lang].blog.posted_on }} 
        {{ page.date | date: site.data.i18n[page.lang].date.format }}
      </span>
      {% if page.author %}
        <span class="win95-post-author">
          {{ site.data.i18n[page.lang].blog.by_author }} 
          <span itemprop="author">{{ page.author }}</span>
        </span>
      {% endif %}
    </div>
  </header>

  <div class="win95-post-content">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
    <div class="win95-post-tags">
      <span>{{ site.data.i18n[page.lang].blog.tags }}:</span>
      <ul class="win95-tag-list">
        {% for tag in page.tags %}
          <li class="win95-tag-item">{{ tag }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="win95-post-navigation">
    <div class="win95-post-nav-prev">
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="win95-btn">
          ← {{ site.data.i18n[page.lang].blog.older }}
        </a>
      {% endif %}
    </div>
    <div class="win95-post-nav-next">
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="win95-btn">
          {{ site.data.i18n[page.lang].blog.newer }} →
        </a>
      {% endif %}
    </div>
  </div>
</article>